@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-bg: #ffffff;
  --custom-text: #171717;
  --custom-gray: #a5a5a5;
  --custom-point: #6eb098;
}

/* 다크모드 배경 색 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --custom-bg: #171717;
    --custom-text: #ffffff;
    --custom-gray: #a5a5a5;
    --custom-point: #6eb098;
  }
} */

body {
  color: var(--custom-text);
  background: var(--custom-bg);
  width: 100%;
  height: 100%;
}

@layer utilities {
}
