@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: sans-serif;
  }
}

:root {
  --custom-bg: #ffffff;
  --custom-text: #171717;
  --custom-gray: #a5a5a5;
  --custom-point: #6eb098;
}

/* 다크모드 배경 색 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --custom-bg: #171717;
    --custom-text: #ffffff;
    --custom-gray: #a5a5a5;
    --custom-point: #6eb098;
  }
} */

body {
  color: var(--custom-text);
  background: var(--custom-bg);
}

@layer utilities {
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.navbar-padding {
  padding-top: 5rem;
  padding-left: 0;
  padding-bottom: 2rem;
  font-size: 80%;
}

@media (min-width: 768px) {
  .navbar-padding {
    padding-top: 0;
    padding-left: 20rem;
    padding-bottom: 2rem;
    font-size: 100%;
  }
}
